/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Eyjmmd8WA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7F6iGmd8WA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Rubik Black'), local('Rubik-Black'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7FCimmd8WA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #343433;
    margin: 0 auto;
    overflow-y: scroll;
    width: 100%;
}
nav{
    height: 4rem;
    margin: 0 1.5rem;
}
h1{
    color: #B5B4B1;
    font-size: 2rem;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 2rem;
    color:#515151;
    font-weight:500;
}
p{
    font-size: 1.5rem;
    font-weight: 300;
    color:#8C8C8C;
}

h1 span{
    color: #4D4D4A;
}
nav, ul, li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li {
    margin: 0 1rem;
    font-size: 1.5rem;
}
nav.mobile{
  display:none;
}
@media only screen and (max-width: 768px) {
  nav.desktop{
    display: none;
  }
  nav.mobile{
    display: block;
    display:flex;
    justify-content: space-around;
  }
}
/* banner part */
.banner{
    display: flex;
    align-items:center;
    background-color: #E4E4E2;
    padding: 2rem 1.5rem;
}
.banner img {
    margin-right: 1.5rem;
    width: 60%;
}
.learn span{
    font-size:1.7rem;
    padding: 0.5rem 30%;
    background-color:#515151;
    color:#fff;
    text-align: center;
}

/*information part*/
.information{
  display: flex;
}
.information-main {
  width: 60%;
  padding: 2rem 1.5rem;
}
.information-main img{
  width:100%;
  padding-bottom: 2rem;
}
.information-side{
  width: 40%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.side-section img,.guest-section img{
  width: 35%;
  height: auto;
  padding-right: 1rem;
}
.side-section, .guest-section{
  display: flex;
  align-items : center;
  padding: 1rem 1rem;
}
.side-section a,.guest-section a{
  color: #7ac5cd;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}
.side-section p,.guest-section p, .main-video p{
  margin: 0.5rem 0;
  color: #8C8C8C;
}
.side-section h3,.guest-section h3{
  margin: 0;
}
.information-main span {
  font-weight: 700;
}
.guest-section{
  background-color:#E4E4E2;
}
/* subject part */
.subject-section{
  padding: 2rem 4.5rem;
  background-color:#E4E4E2;
}
.subject-section h2, .thesis-section h2{
  margin-bottom: 2rem;
  text-align: center;
}
.row1, .row2{
  display: flex;
  align-content: center;
}
.subject{
  margin: 0 2rem 2rem 0;
  padding: 0 0 1.5rem 0;
  background-color: #fff;
}
.subject img{
  height: auto;
}
.subject h3{
  margin: 1rem 0rem;
}
.subject span{
  display: block;
  margin: 0.5rem 0;
}
.subject div{
  margin: 0 1rem 0 1rem;
}
/* thesis part */
.thesis-section{
  padding: 2rem 1.5rem;
}
.video-section{
  display: flex;
}
.main-video{
  width: 60%;
  margin-right: 1.5rem;
}
.main-video video{
  width: 100%;
  margin-bottom: 1.5rem;
}
.side-section{
  display: flex;
  align-items: center;
}
/* footer part */
footer h5{
  font-weight: 400;
  color: #8C8C8C;
}
footer div{
  display: flex;
  justify-content: flex-end;
}
footer p {
  margin: 0 1rem;
  font-size: 1rem;
}


/*2019.12.26 don't complete information section yet*/
/*2019.12.28 complete infor section   */